body {
    min-height:100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.footer {
    height: 72px;
    background-color: #1F2937;
    color: white;
    margin-top: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header {
    height: 72px;
    background-color: #1F2937;
    font-size: 24px;
    color: #F9FAF8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 200px;
    padding-left: 200px;
}

ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    gap: 16px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

li {
    display: inline-block;
}

h1 {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}

.hero {
    background-color: #1F2937;
    padding-right: 200px;
    padding-left: 200px;
}

p {
    font-size: 18px;
    color: #E5E7EB;
}

.hero-content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 400px;
}

button {
    width: 75px;
    background-color:#3882F6;
    border-radius: 5px;
    display: inline-block;
    color: white;
    text-align: center;
    text-decoration: none;
    
}